.@ID_PREFIX@button  {
    list-style-image: url("chrome://@PACKAGE_NAME@/content/@DEFAULT_ICON@");
}

.@ID_PREFIX@disabled-button  {
    list-style-image: url("chrome://@PACKAGE_NAME@/content/@LOGGED_OUT_ICON@");
}

.alfreso-activities-panel {
    background-color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 13px !important; 
	overflow-y: auto;
	overflow-x: hidden;
}
