#alfresco-activities-button  {
    list-style-image: url("chrome://alfresco-activities/content/alfresco19.png");
}

.alfreso-activities-panel {
    background-color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 13px !important; 
	overflow-y: auto;
	overflow-x: hidden;
}
